h1 {
    color:rebeccapurple;
    border: 4px solid;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
  }
  
  div { 
      text-align: center; 
    }

    ol { 
    display: inline-block; text-align: left; 
}

button {
    width:10%;
    color:rebeccapurple
}