<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phase-1</title>
    <link rel="stylesheet" href="style.css">
    <style>h1{text-align: center;}</style>
    <br>
    <style>h2{text-align: center;}</style>
    <script src="quiz.js"></script>
</head>
    <body background="assets/star-wars-backgrounds-12-1.jpg">
        
    <h1><b>Answer odd questions to find out your lightsaber color</b></h1>
    <br>
    <br>
    <br>
    <img src="assets/d6pw2o7-cd83d14b-e077-4fa9-81a9-6543fa436653.jpg" 
    alt="Ads" 
    align="right"
    width="180"
    height="500">

    <div id="quiz">
        <h2>Questions</h2>
        <img id="gif" src="assets/Main.gif" alt="Question Answers">
        <h4 id="question">Click the start button to find your lightsaber color!</h4>
        <div id="buttons" >
            <button>Start</button>
        </div>
    </div>
   
    <br>

        </div>
        
        <section id="app">
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <div class="comment">
                <p v-for="items in item" v-text="items"></p>
                  </div>
                  </div>
                  </div>
              <div class="row">
                <div class="col-6">
              <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()"></textarea>
                  <button id="comment button" v-on:click="addItem()" class='primaryContained float-right' type="submit">submit</button>
                </div>
              </div>
            </div>
          </section>
    </body>
</html>